
<div class="row">
    {{ range . }}
        <div class="col-4">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ .Params.title}}</h4>
                    <p class="card-text">
                        spend: {{ .Params.spend}} <br/>
                        H/C : {{ .Params.head_count }} FTE | {{ .Params.engineer }} eng| {{ .Params.permanent }} perm
                    </p>
                </div>
            </div>
        </div>
    {{ end }}
</div>