{{with .this.Site.GetPage "page" .page }}

    {{ $content := .RawContent }}
    {{ $name    := index (split $.this.Params.title " ") 0}}
    {{ $content := replace $content "CANDIDATE_NAME" $name }}
    {{ $content := replace $content "CANDIDATE_ID"   $.this.Params.id}}
    {{ $subject := .Params.subject}}
    {{ $title   := .Params.title }}
    {{ $cc      := .Params.cc }}
    {{ $email   := $.this.Params.email}}
    <a href="mailto:{{$email}}?cc={{$cc}}&subject={{ $subject }}&body={{ $content }}" target="_blank">{{ $title }}</a>
{{ end }}