{{ define "content" }}

{{ $areas := where .Site.Pages "Type" "area" }}

{{ partial "stats/people.html" . }}

<div class="text-center">
    <h1>{{ .Title }}</h1>
    <p class="lead">
        {{ .Scratch.Get "sum_head_count" }} people for a total group for £ {{ .Scratch.Get "sum_budget" }}
    </p>
</div>

{{ range $areas }}
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-2">
                <div class="d-sm-flex" style="height:100%;align-items: center;justify-content: center;">
                    <div>
                        <h4>{{ .Params.title }}</h4>
                        <span class="btn btn-outline-primary">£ {{ lang.NumFmt 0 .Params.budget }}</span>
                        <span class="btn btn-outline-primary"><i class="fa fa-male"></i> {{ .Scratch.Get "project_head_count" }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="grid">
                    {{ range .Data.Pages }}
                        <div class="grid__item">
                            {{ partial "project/card" . }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}