{{ define "content" }}

	{{/* partial "widgets/breadcrumb.html" . */}}
	<main>
		<h1>Candidate: {{ .Params.title}}</h1>
			{{ .Content }}

			<!-- candidate table -->
			<table>
				<tr><th>title  		</th> <td>{{.Params.title}} 				</td></tr>
				<tr><th>company 	</th> <td>{{.Params.company}} 				</td></tr>
				<tr><th>trello      </th> <td><a href="{{.Params.trello_link}}" target="_blank">open</a> 	</td></tr>
				{{ if isset .Params "cv" }}
					<tr><th>cv 			</th> <td><a href="../{{index .Params "cv"}}" target="_blank">view</a></td></tr>
				{{ end }}
				<tr><th>last-job 	</th> <td>{{index .Params ".last-job" }} 	</td></tr>
				<tr><th>location 	</th> <td>{{.Params.location}} 				</td></tr>
				<tr><th>jobs 		</th> <td>{{.Params.jobs}} 					</td></tr>
				<tr><th>keywords 	</th> <td>{{.Params.keywords}} 				</td></tr>
                <tr><th>cv review 	</th> <td>{{.Params.cv_review}} 		    </td></tr>
                <tr><th>status   	</th> <td>{{.Params.status   }} 		    </td></tr>
                <tr><th>email    	</th> <td>{{.Params.email    }} 		    </td></tr>
			</table>

        <hr/>
        <h3>activity</h3>
        {{ $text := .Params.activity }}
        {{ if eq (printf "%T" $text) "map[interface {}]interface {}" }}
        <td>
            <table class="table table-responsive-sm table-striped">
                {{ range $key, $value := $text }}
                <tr>
                    <th>{{ $key }}</th>
                    <td> {{$value}} </td>
                </tr>
                {{ end }}
            </table>
        </td>
        {{ else }}
        <td>{{ $text }}</td>
        {{ end }}

	</main>
    <hr/>
    <a href="/candidates">Back to all Candidates page</a>
	{{ partial "widgets/edit-link.html" . }}
{{ end }}
