<div class="sidebar">
    <nav class="sidebar-nav">
        {{- if .Site.Menus.main }}
            <ul class="nav">
                <li >
                    <a class="nav-link" href="/">
                        <i class="icon-home"></i>Home</a>
                </li>
                {{- $currentNode := . }}
                {{- range sort .Site.Menus.main }}
                    {{- if .HasChildren }}
                        <li class="nav-item nav-dropdown">
                            <a href="{{ with .URL }}{{ . }}{{ else }}#{{ end }}" class="nav-link nav-dropdown-toggle">{{ with .Pre }}{{ . }}{{ end }}{{ .Name }}</a>
                            <ul class="nav-dropdown-items">    
                                {{ range .Children }}
                                    <li class="nav-item">
                                        <a class="nav-link" style="padding-left:2em" href="{{ .URL }}">{{ with .Pre }}{{ . }}{{ end }}{{ .Name }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </li>
                    {{- else  }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL }}">
                                {{ with .Pre }}{{ . }}{{ end }}{{ .Name }}</a>
                        </li>
                    {{- end }}
                {{- end }}
            </ul>
        {{- end }}

    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>



