

<div class="card card-accent-warning">
    {{ if .Params }}
        {{ if .Params.title  }}

            <div class="card-header ">
                {{ .Params.title }}
                <div class="card-actions">
                    <a href="#" class="btn-minimize" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"><i class="icon-arrow-up"></i></a>
                    <a href="#" class="btn-close"><i class="icon-close"></i></a>
                </div>
            </div>
        {{ end }}
    {{ end }}
    <div class="card-body collapse show" id="collapseExample">
        {{ markdownify .Inner }}
    </div>
</div>
