{{ $fields := (slice "Title" "Type" "Status") }}

{{ $candidates := where .Site.Pages "Type" (default $.Site.Params.candidateType "Candidate") }}
{{ if eq (.Get "status") "any" }}
    {{ .Scratch.Set "rows" $candidates }}
{{ else }}
    {{ .Scratch.Set "rows" (where $candidates ".Params.status" (.Get "status")) }}
{{ end }}

<div class="card">
    <div class="card-body">
        <table class="table" style="background:white;">
            <thead>
                {{ range $fields}}
                    <th>{{ . }}</th>
                {{ end }}
            </thead>
            <tbody>
                {{ range .Scratch.Get "rows" }}
                    {{ $row := . }}
                    <tr>
                        {{ range $fields}}
                            <td>{{ index $row.Params (lower .) }}</td>
                        {{ end }}
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>