
{{  $type   := .Get "type"                                             }}
{{  $when   := (add ".Params." (.Get "when"))                          }}
{{  $is     := .Get "is"                                               }}
{{  $fields := split (.Get "fields") ","                               }}  {{/* $fields := split (default (.Get "fields") "title") ","   */}}  {{/* bug: default value not working (idea is to default to title when no value is provided) */}}

{{  if ne $type ""                                                     }}
{{      .Scratch.Set "pages" (where .Site.Pages "Type" $type)          }}
{{  else                                                               }}
{{      .Scratch.Set "pages" .Site.Pages                               }}
{{  end                                                                }}

{{  if ne $is ""                                                       }}
{{      .Scratch.Set "rows" (where (.Scratch.Get "pages") $when $is)   }}
{{  else                                                               }}
{{      .Scratch.Set "rows" (.Scratch.Get "pages")                     }}
{{  end                                                                }}

{{/* todo: add ability to sort by field (or at least by title) */}}

<div class="card">
    <div class="card-body">
        <table class="table" style="background:white;">
            <thead>
                <th width="10">#</th>
                {{ range $fields}}
                    <th>{{ . }}</th>
                {{ end }}
            </thead>
            <tbody>
                {{ range $index, $row :=  .Scratch.Get "rows" }}
                    <tr>
                        <td> {{ add $index 1}}</td>
                        {{ range $fields}}
                            {{ if isset $row.Params (lower .)               }}
                                {{ $link := $row.Permalink                  }}
                                {{ $text := (index $row.Params (lower .))   }}
                                {{ if eq . "title" }}
                                    <td>
                                        <a href="{{$link}}">{{ $text }}</a>
                                    </td>
                                {{ else }}
                                    {{ if eq (printf "%T" $text) "map[interface {}]interface {}" }}
                                        <td>
                                            <table class="table table-responsive-sm table-striped">
                                                {{ range $key, $value := $text }}
                                                    <tr>
                                                        <th>{{ $key }}</th>
                                                        <td> {{$value}} </td>
                                                    </tr>
                                                {{ end }}
                                            </table>
                                        </td>
                                    {{ else }}
                                        <td>{{ $text }}</td>
                                    {{ end }}
                                {{ end }}
                            {{ end}}
                        {{ end }}
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>