{{ define "content" }}

<h3>{{.Params.title}}
    <a class="btn-sm" href="{{.Site.Params.ghrepo}}edit/master/content/{{.File.Path}}" target="_blank">
        <i class="fa fa-edit"></i> Edit (in GitHub)
    </a></h3>

<ul>
    {{.Params.description}}
</ul>




<h3>Notes</h3>
<ul>
    <table class="table table-responsive-sm table-striped">
        {{ range $value := .Params.notes }}
        <tr>
            <td> {{$value}} </td>
        </tr>
        {{ end }}
    </table>
</ul>

<h3>Email template</h3>

<ul>
    <div class="card">
        <div class="card-header">
            {{.Params.subject}}
        </div>
        <div class="card-body">
            {{ .Content}}
        </div>
    </div>
</ul>

<h3>Gmail link</h3>

<p>
    {{ $subject := .Params.subject }}
    {{ $body    := .RawContent }}
     <a href="mailto:?&subject={{$subject}}&body={{$body}}" target="_blank"/>Click here to open the email in GMail</a>
</p>

<p>
    note: to make this work smoothly setup GMail as your default email clien (<a href="https://blog.hubspot.com/marketing/set-gmail-as-browser-default-email-client-ht">instructions here</a>)
</p>

<a href=".." >back to all email templates</a>
{{ end }}